body {
  width: auto;
  height: 100%;
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto", "Arial" sans-serif;
  font-style: normal;
  color: @grayblue;
  background-color: @bg-lightgray;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}


fieldset {
  border: none;
}
