.calendar {
  width: auto;
  background-color: @light-gray;
}

.calendar__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  min-height: 620px;
  margin: 0 auto;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.calendar__header {
  padding-top: 70px;
  font-size: 26px;
  color: @dark-blue;
}

.calendar__link {
  padding-top: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: @dark-red;
  text-decoration: underline;
}


@media (max-width: @tablet-width) {
  .calendar__wrapper {
    min-height: 120px;
    margin: 0 auto;
    background-image: none;
  }
  .calendar__header {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
  }

  .calendar__link {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
  }


}
