.federation__wrapper {
  max-width: 960px;
  min-height: 500px;
  margin: 0 auto;
  padding: 0;
}

.federation__person {
  display: block;
  margin-top: 50px;
  min-height: 400px;
}

.federation__person-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  .list-unstile();
}

.federation__person-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  width: 350px;
  min-height: 400px;
  font-size: 14px;
}

.federation__person-img {
  width: 300px;
  height: 300px;
  align-self: center;
  background-color: #84edff;
}

.federation__header-txt {
  margin-top: 30px;
  align-self: center;
  font-size: 18px;
  font-weight: 500;
}

.federation__txt-bold {
  align-self: right;
  padding-top: 7px;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

.federation__txt {
  padding-top: 5px;
  font-size: 13px;
  line-height: 17px;
}

.federation__info {
  margin-bottom: 100px;
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
  text-align: left;
}

.federation__text {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  color: @dark-blue;
}
.federation__txt-it {
  padding-top: 8px;
}
