.intro {
  position: relative;
  width: 100%;
  min-height: 750px;
  margin: 0 auto;
  margin-top: -590px;
  padding: 0;
  /*background-image: url("../img/bg-back-desktop@1x.jpg");
  background-size: auto;
  background-position: top center;
  background-repeat: no-repeat;*/
  overflow: hidden;
  background-color: @light-gray;
}


.intro__slides {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: -400px;
  width: 2500px;
  min-height: 750px;
  list-style-type: none;
  overflow: hidden;
}

.intro__slide-showing {
  opacity: 1;
  z-index: 2;
  transition: opacity 2s;
}

.intro__slide {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 2500px;
  min-height: 750px;
  font-size: 0;
  opacity: 0;
  z-index: 1;
  overflow: hidden;
}


.intro__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 960px;
  min-height: 750px;
  .reset-margpadding();
}

.intro__promo-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 275px;
  min-height: 100px;
  margin-top: auto;
  text-align: center;
  z-index: 11;
}

.intro__socials {
  width: 250px;
  height: 50px;
}


.intro__btn {
  position: relative;
  z-index: 6;
  margin: 10px 0;
  padding: 10px 30px;
  color: @white;
  background-color: @light-blue;
  border-radius: 30px;
  border: 2px solid @yellow;
  text-transform: uppercase;

  &:hover {
    color: @yellow;
    background-color: @middle-blue;
  }
}

.intro__news {
  margin-bottom: 30px;
  margin-top: 25px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: @white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: 3px solid @dark-yellow;
  background-color: @middle-blue;
  animation: attention 3s infinite;

  &:hover {
    color: @yellow;
    background-color: @light-blue;

    @keyframes attention {
      0% {
        background-color: @middle-blue;
      }

      50% {
        background-color: @light-blue;
      }

      100% {
        background-color: @middle-blue;
      }
    }
  }
}

@media (max-width: @tablet-width) {

  .intro {
    width: 100%;
    min-height: 100px;
    margin: 0;
    padding-top: 30px;
  }

  .intro__slides {
    display: none;
  }

  .intro__wrapper {
    width: 100%;
    min-height: 100px;
    flex-direction: column;
    justify-content: center;
  }

  .intro__promo-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    text-align: center;
  }



  .intro__news {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left: 5px solid @dark-yellow;
    border-right: 5px solid @dark-yellow;
    background-color: @middle-blue;
    animation: attention 2s infinite;

    &:hover {
      color: @yellow;
      background-color: @light-blue;

      @keyframes attention {
        0% {
          background-color: @middle-blue;
        }

        50% {
          background-color: @light-blue;
        }

        100% {
          background-color: @middle-blue;
        }
      }
    }
  }


}
