.main-nav {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 960px;
  margin: 0 auto;
  min-height: 170px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .list-unstile();
  width: 240px;
  min-height: 390px;
  margin-left: auto;
  margin-bottom: 140px;
  padding-right: 10px;
  text-align: right;
  background-color: rgba(250,250,250, 0.7);
  box-sizing: border-box;
  border-radius: 10px;
}

.main-nav__item {
  margin: 0;
  margin-bottom: 16px;
  padding: 3px 0;
  font-size: 18px;
  line-height: 20px;

  &--mobile {
    display: none;
  }

  &--activ {
    position: relative;
    margin-left: auto;
    font-weight: bold;

    a::after {
      content: "";
      position: absolute;
      top: 28px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: @middle-blue;
    }
  }

  &--twoline a::after {
    top: 48px;
  }

  &:hover {
    padding-right: 10px;
    background-color: @yellow;
    transform: translateX(-20px);
    transform: scale(1.1);
    transform-origin: center right;
  }

  &--activ:hover {
    padding-right: 0px;
    background-color: transparent;
    transform: translateX(0px);
    transform: scale(1);
  }

  a {
    color: @dark-blue;
  }

  a:hover {
    color: @light-blue;
  }
}

.main-nav__logo {
  margin-top: 0px;
  margin-bottom: 30px;

  &:hover {
    padding-right: 0;
    background-color: transparent;
    transform: translateX(0px);
    transform: scale(1);
  }
}

.main-nav__news {
  overflow: hidden;
  background-image: url("../img/fotolia_176957155.jpg");
  background-repeat: no-repeat;
  background-position: center;

  /*&::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    right: 50%;
    background-image: url("../img/decor_line_300x18.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 300px 18px;
    transform: rotate(90deg);
  }*/
}

.main-nav__list-inner {
  order: 2;
}

.main-nav__inner-pages-list {
  width: 290px;
  min-height: 167px;
  order: 1;
  margin-top: auto;
  margin-bottom: 0;
  margin-left: 8px;
  padding-left: 20px;
  list-style: none;
  /*background-image: url("../img/bg-back-news-desktop@1x.jpg");*/
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 285px 197px;
  /*background-color: @light-yellow;*/
}

.main-nav__inner-pages-item {
  padding-top: 167px;
  font-size: 0;
  color: @middle-blue;
}


.main-nav__team {
  overflow: hidden;
  background-image: url("../img/fotolia_100081667.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav__showing {
  overflow: hidden;
  background-image: url("../img/fotolia_92558331.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav__federation {

}



@media (max-width: @tablet-width) {

  .main-nav {
    display: block;
    max-width: 930px;
  }

  .main-nav__list {
    width: 100%;
    min-height: 190px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: @white;
    box-sizing: border-box;
    border-radius: 0px;
  }

  .main-nav__item {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #3cccef;
    border-top: 1px solid @light-gray;
    border-bottom: 1px solid @light-blue;


    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }

    a {
      color: @white;
      text-transform: uppercase;
    }

    a::after {
      content: "";
      position: absolute;
      top: 28px;
      left: 0;
      right: 0;
      height: 0px;
    }

    &:hover {
      padding-right: 0px;
      background-color: @yellow;
      transform: translateX(0px);
      transform: scale(1);
      transform-origin: center;
    }
  }

  .main-nav__logo {
    background-color: @white;
    border-top: 0px;
    border-bottom: 0px;
  }

}



