.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 940px;
  margin: 0 auto;
  min-height: 170px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .list-unstile();
  width: 370px;
  margin-left: auto;
  text-align: right;
  background-color: @blockbg;
}
