.main-nav {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 940px;
  margin: 0 auto;
  min-height: 170px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .list-unstile();
  width: 350px;
  min-height: 550px;
  margin-left: auto;
  text-align: right;
}

.main-nav__item {
  margin: 10px 0;
  font-size: 21px;

  &:hover {
    padding-right: 10px;
    background-color: @yellow;
    transform: translateX(-20px);
    transform: scale(1.1);
    transform-origin: center right;
  }

  &--activ:hover {
    padding-right: 0px;
    background-color: transparent;
    transform: translateX(0px);
    transform: scale(1);
  }

  a {
    color: @dark-blue;
  }

  a:hover {
    color: @light-blue;
  }
}

.main-nav__logo {
  margin-top: 0px;
  margin-bottom: 30px;

  &:hover {
    padding-right: 0;
    background-color: transparent;
    transform: translateX(0px);
    transform: scale(1);
  }
}
