.news-page {
  margin: auto;
  margin-bottom: 100px;
}

.news-page__block {
  max-width: 960px;
  min-height: 1000px;
  .reset-margpadding();
}

.news-page__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  .list-unstile();
}

.news-page__item {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
