.paper {
  width: auto;
  margin-top: 20px;

}

.paper__photo {
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0;

  img {
    width: 300px;
    height: 200px;
  }
}

.paper__item {
  width: 580px;
  padding-left: 30px;
}

.paper__header {
  padding-bottom: 10px;
  font-size: 21px;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  color: @dark-blue;
}

.paper__text {
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
}
