.promo-news {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 0 auto;
  min-height: 330px;
  background-color: @light-yellow;
  overflow: hidden;

  img {
    max-width: 700px;
    height: 123px;
    margin-left: auto;
    padding-right: 30px;
  }
}

.promo-news__wrapper {
  max-width: 400px;
  min-height: 280px;
  margin-right: auto;
  padding: 0;
}

.promo-news__header {
  margin-top: 65px;
  font-size: 21px;
  font-weight: 500;
  line-height: normal;
  color: @dark-blue;
}

.promo-news__text {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: @middle-blue;
}

.promo-news__link {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: @dark-red;
  text-decoration: underline;
}
