.promo-news {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 0 auto;
  min-height: 330px;
  background-color: @light-yellow;

  img {
    width: 592px;
    height: 330px;
    margin-left: auto;
    padding-right: 50px;
  }
}

.promo-news__wrapper {
  max-width: 400px;
  min-height: 280px;
  margin-right: auto;
  padding-right: 50px;
}
