.showing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showing__section,
.showing__info {
  max-width: 960px;
  min-height: 100px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: #e6faff;
}

.showing__head-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .list-unstile();
}

.showing__head-item {
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: 3px solid @dark-yellow;
  background-color: @middle-blue;
  animation: attention 3s infinite;
}

.showing__head-item a {
  color: #ffffff;
}

.showing__wrapper {
  min-height: 1000px;
  padding: 0;
}

.showing__item {
  width: 800px;
  margin: 0 auto;
}

.showing__tabl {
  width: 700px;
}


.showing__document {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 80px;
  padding: 20px;
  box-sizing: border-box;

}
.showing__document-header {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  line-height: 28px;
  color: @dark-blue;
}

.showing__document-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: left;
  max-width: 960px;
  .list-unstile();
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: #fff9d3;
}

.showing__document-item {
  margin-bottom: 30px;
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: 3px solid @dark-yellow;
  background-color: @middle-blue;

  &--main {
    background-color: @dark-red;
  }
}

.showing__document-item a {
  color: #ffffff;
}




@media (max-width: @mobile-width) {
  .showing__tabl {
    width: 100%;
  }

}
