.sponsor {
  width: 100%;
  min-height: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: @light-gray;
}

.sponsor__wrapper {
  max-width: 960px;
  min-height: 140px;
  margin: auto;
  border-top: 2px solid @dark-blue;
  border-bottom: 2px solid @dark-blue;
}

.sponsor__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 100px;
  align-items: center;
  .list-unstile();
}

.sponsor__item {
  width: 200px;
  padding: 0;
}

.sponsor__item1 {
  width: 230px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 300;
  border-right: 2px solid @dark-blue;
}

.sponsor__item2 {}
