.tabl {
  display: table;
  width: 400px;
  min-height: 50px;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.tabl__header {
  display: table-caption;
  margin: 20px 0;
  font-size: 21px;
  font-weight: 500;
  line-height: 28px;
  color: @dark-blue;
}

.tabl__header-honor {
  width: auto;
  padding: 0 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
  color: @white;
  background-color: @dark-yellow;
}

.tabl__col {
  display: table-row;
  width: 200px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  .list-unstile();
}


.tabl__cell {
  display: table-cell;
  height: 30px;
  margin: 0;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  color: @middle-blue;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
}

.tabl__cell-1 {
  width: 130px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #04619e;
}

.tabl__cell-2 {
  width: 250px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: right;
  color: #333333;
}

.tabl__content {
  display: table-row-group;
}

.tabl__col-2,
.tabl__col-4,
.tabl__col-6 {
  background-color: @bg-light-blue;

}



@media (max-width: @mobile-width) {
  .tabl {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .tabl__col {
    max-width: 180px;
  }

  .tabl__cell-1 {
    max-width: 130px;
  }

  .tabl__cell-2 {
    max-width: 180px;
  }

}
