.team {
  width: auto;
  margin-bottom: 80px;
}

.team__photo {
  width: 400px;
  height: 300px;
  margin: 0;
  outline: 2px solid @dark-yellow;


  img {
    width: 400px;
    height: 300px;
  }
}

.team__item {
  width: 400px;
}

.team__tabl {
  width: 400px;
}



@media (max-width: @mobile-width) {
  .team__photo {
    width: auto;
    height: auto;
    outline: none;

    img {
      width: 400px;
      height: auto;
    }

  }

  .team__item {
    width: 100%;
    margin: 0;
  }

  .team__tabl {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }


}
