.team-page {
  width: auto;
}

.team-page__wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.team-page__header {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #04619e;
}

.team-page__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  .list-unstile();
}

.team-page__item {
  width: 400px;
  text-align: left;
}
